# SPDX-License-Identifier: MIT
# Endgame Split — ZMK shield definition

config SHIELD_ENDGAME_LEFT
	def_bool $(shields_list_contains,endgame_left)

config SHIELD_ENDGAME_RIGHT
	def_bool $(shields_list_contains,endgame_right)
