# Shield symbols are declared in Kconfig.shield; this file only sets defaults.

if SHIELD_ENDGAME_LEFT

config ZMK_KEYBOARD_NAME
	default "Endgame Split"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

config ZMK_SPLIT
	default y

endif

if SHIELD_ENDGAME_RIGHT

config ZMK_SPLIT
	default y

endif
